.main{
	background: linear-gradient(180deg, #FD6981 27%, #EDF0F5 27%);
}
html, body {
    height:100%;
}
.standard{
	width: 1200px;
    min-height: 100px;
    height: auto;
    margin: 80px auto 0px auto;
    background-color: black;
    padding: 10px 10px;
    display:table;
    overflow:hidden;
    height:100%;
}

.input_class{
    outline: none;
	padding : 1em;
	border: white 4px solid;
	border-radius: 8px;
    background-color : #FEFBF3; 
}
.input_container{
    display : flex;
	flex-direction: column;
    padding : 1em;
    gap : 10px;
}

.button_dropdown {
	border-radius: 5px;
	padding: 10px 7px;
	width: 10em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border: none;
	outline: none;
	
	color: rgb(0, 112, 243);
	
}


.dropdown {
	display: flex;
	flex-direction: column;
	position: relative;
	transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1) 1s;
}
.dropdown ul{

		list-style: none;
		position: absolute;
		background-color: rgb(239, 246, 255);
		color: rgb(0, 112, 243);
		top: 1.2em;
		transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
		border-radius: 5px;
}
.dropdown li{

			width: 7.5em;
			margin-left: -2.5em;
			padding: 7px;
			text-align: start;
            cursor : pointer
}

.achievements_container{
	text-align: left;
}

.multi_section_container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width : 100%;
	gap : 1em;
}


.multi_section_container > div > input ,textarea{
	margin-top : 1em;
	width : 100%;
}

.experience_duration{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap : 1em;
}